@charset "utf-8";
@import "fonts.css";

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	background: #e7e7e7;
	border-top: 10px solid #040404;
}

/*Дополнительные настройки*/
.clear{
	width: 0;
	height: 0;
	position:relative;
	clear: both;
}	

/*------------------------*/

main{
	width: 940px;
	position: relative;
	margin: 0 auto;
}

header{
	height: 110px;
	border-bottom: 1px solid #CECECE;
	position: relative;
}

#logo {
	display: block;
	width: 242px; height: 66px;
	background: url(../img/logo.png) no-repeat center;
	background-size: contain;
	float: left;
	position: absolute;
	bottom: 6px;
}

nav {
	float: right;
	position: relative;
}

nav:after {
	content: '';
	display:block;
	width: 0;
	height: 0;
	position: relative;
	clear: both;
}

nav>a {
	display: block;
	float: left;
	font-family: sansus;
	font-size: 18px;
	color: #040404;
	text-decoration: none;
	text-transform: uppercase;
	padding: 64px 10px 10px 10px;
	transition: all 0.5s ease;
}

nav>a:hover, nav>a.active {
	background: #040404;
	color: white;
}